
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}
body{
background-color: #9898fa;
}

.carousel-container{
	width: 50%;
	margin: auto;
	overflow: hidden;
	position: relative;
}
.carousel-slide{
	display: flex;
	width: 100%;
	height: 600px;
	
}
.hyperlinkImage{
	width: 25%;
	overflow: hidden;
	margin-right:auto;
	margin-left:auto;
	display: block;
	height: 300px;
}
.hyperlinkImageVertical{
	width: 25%;
	margin: auto;
	overflow: hidden;
	position: relative;
	display: inline-block;
	height: 600px;
}
.column {
	width: 90%;
	padding: 5px;
}

img{
	min-width:100%;
	min-height:100%;
}
#vertical{
	min-width: 65%;
}

@keyframes slideInFromLeft {
	0% {
    transform: translateX(-100%);
	}
	100% {
		transform: translateX(0);
	}
}
@keyframes slideInFromRight {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0);
	}
}
.header {
	overflow: hidden;
	animation: 1s ease-out 0s 1 slideInFromLeft;
	background-color: #666;
	padding: 10px;
}

.header a {
	float: left;
	color: black;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 18px;
	line-height: 25px;
	border-radius: 4px;
}

.header a.title{
	font-size: 30px;
	font-weight: bold;
}
.header-right{
	float: right;
}
.header-right a:hover {
	background-color: #751a1a;
	color: black;
}

.header-right a.active{
	background-color: crimson;
	color: white;
}



footer {
	overflow:hidden;
	animation: 1s ease-out 0s 1 slideInFromRight;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 12px;
	background-color: #777;
	color: black;
	text-align: left;
	font-size: 20px;
	font-weight:bold;
	position: fixed;
}

#prevBtn{
	position: absolute;
	top: 50%;
	z-index: 10;
	left: 5%;
	font-size: 45px;
	color: white;
	cursor: pointer;
	
	}
#nextBtn{
	position: absolute;
	top: 50%;
	z-index: 10;
	right: 5%;
	font-size: 45px;
	color: white;
	cursor: pointer;
	}
.clear{
	clear:both;
	height:50px;
}

.imgSize{
	padding:25px;
	display:block;
	min-height:10%;
	min-width:10%;
	margin-left:auto;
	margin-right:auto;
}
.textAlign{
	text-align:center;
	font-size:25px;
	font-weight:bold;
}